* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #062f27;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  height: 12vh;
}
header .logo img {
  height: 16vh;
}
nav a:link,
a:visited {
  text-decoration: none;
  color: #e0e0eb;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.4s ease;
}

nav a:hover,
a:active {
  font-weight: bold;
  color: #8ae50b;
  transition: 0.4s ease;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
}

#bookNow {
  padding: 7px 10px;
  background-color: #f0c609fd;
  border-radius: 10px;
  font-size: 20px;
}

#bookNow:hover {
  background-color: #8ae50b;
}

/* Home page */

.slider-img img {
  height: 90vh;
}

.slider-text {
  position: absolute;
}

/* Footer styling */

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 10px;
  background-color: #000;
}

footer .col {
  display: flex;
  flex-direction: column;
}
footer h4,
h5,
p {
  color: #e0e0eb;
  margin-top: 10px;
}
footer .col .fa-facebook:hover {
  color: #3c53e5;
}
footer .col .fa-instagram:hover {
  color: #db322f;
}
footer .col .fa-twitter:hover {
  color: #1091d1;
}

footer .col .follow {
  font-size: 25px;
}

footer .col .follow .fa-brands {
  margin-right: 15px;
}
footer .col .fa-facebook {
  color: #e0e0eb;
}
footer .col .fa-instagram {
  color: #e0e0eb;
}
footer .col .fa-twitter {
  color: #e0e0eb;
}

.col a {
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 10px;
  color: #e0e0eb;
}
.col .app img {
  border: 0.5px solid #000;
  border-radius: 10px;
  margin-top: 5px;
}

.copyright p {
  color: #e0e0eb;
}
.copyright {
  width: 100%;
  text-align: center;
}
