body {
    background-image: url("./image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.in-but{
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 50px;
    border-radius: 15px;
}

#task-input {
    width: 100%;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

#add-button {
    display: block;
    width: auto;
    padding: 5px 25px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #650a0a;
    border-radius: 5px;
    color: #fff;
}

#add-button:hover{
    background-color: #8f0b0b;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox {
    margin-right: 10px;
    transform: scale(1.5);
}

.task {
    flex-grow: 1;
    font-size: 16px;
}

.delete-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    margin-left: 10px;
}

.delete-button:hover{
    color: #d3500a;
}